.root {
  width: 100%;
}

/*-----Font Controls-----*/
@font-face {
  font-family: "orbitron-black";
  /* src: url("src/assets/orbitron-medium.otf"); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "orbitron-black", Helvetica, Arial, sans-serif;
  margin: 0 0 15px 0;
  color: #03b8dc;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}

p,
li {
  font-size: 0.9rem;
  color: #f0f0f0;
}

/*-----Tag formatting-----*/
body {
  background-color: #222222;
  margin: 0;
  scrollbar-width: none; /* Hide scrollbar Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: #03b8dc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: 8px double #4d4d4d;
  color: #4d4d4d;
}

img {
  width: 100%;
  height: auto;
}

/*----- Custom Class Effects -----*/

.rotate {
  @media only screen and (min-width: 600px) {
    font-size: 3.5rem;
    writing-mode: vertical-rl;
  }
}

.tag {
  background-color: rgba(3, 184, 220, 0.2);
  border-radius: 1rem;
  color: #03b8dc;
}
